html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    background: #111;
}
#main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    color: #bbb;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 896px;
}
#code {
    height: 100%;
    width: 100%;
}
#schemas {
    width: 120px;
    min-width: 120px;
    flex-direction: column;
    overflow-x: clip;
    overflow-y: scroll;
    padding-right: 16px;
}
#schemas canvas {
    width: 100px;
    height: 100px;
    padding: 3px 10px;
    background-color: transparent;
}
.monaco-editor {
    position: absolute !important;
}
